<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/mainscreen.css}">

    <title>Tom's Computer Hardware Store</title>
</head>
<body>
<header>
    <div class="top-nav"><h1>Tom's Computer Hardware Store</h1></div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/mainscreen}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/about}">About</a>
        </li>
    </ul>
</header>
<div class="container min-vh-100 rounded" style="padding-top: 5vw; padding-left: 10vw; padding-right: 10vw; padding-bottom: 10vw; width: 80%;">
    <h1 style="text-align: center; ">About</h1>
    <p style="line-height: 2;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius nibh faucibus elit convallis, bibendum suscipit lacus iaculis. Integer egestas neque nec tellus sagittis, fermentum egestas nisi laoreet. Duis mattis tempus tellus. Donec tempor massa turpis, dapibus ultricies felis pulvinar non. Fusce sagittis, risus eget rutrum tincidunt, nunc diam vestibulum nisi, et tincidunt enim neque a tortor. Mauris interdum turpis eu lorem ornare luctus. Nulla libero nisi, rutrum et viverra eget, elementum ac enim. Aenean sed nibh justo. Cras molestie diam non nisi placerat tempus. Quisque tristique orci ex, nec malesuada ex ultrices ut. Sed rutrum mauris sed posuere rutrum. Phasellus quis risus est. Proin ornare dapibus malesuada. Pellentesque mauris ante, pellentesque id consectetur sed, pretium et enim. Etiam mattis felis quis commodo fermentum.

        Integer fringilla non lacus in fringilla. Nulla in leo at felis facilisis rhoncus in ut justo. Suspendisse volutpat erat eget felis egestas, sed dapibus sapien porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis urna leo. Nam eleifend hendrerit lorem sed varius. Nunc ut ex leo. Fusce velit odio, ultricies facilisis sapien ac, iaculis tristique ex. Praesent a ex vel leo ullamcorper ultrices. Duis sagittis odio id nibh pretium dictum. Donec non lobortis leo. Aenean in risus ut velit aliquet laoreet. Quisque at sollicitudin est.
    </p>
    <img th:src="@{images/computer.jpg}" style="width: 25vw;"/>
    <p style="line-height: 2;">
        Nullam vitae pretium est. Praesent facilisis pellentesque urna, in euismod risus posuere a. Duis iaculis rhoncus finibus. Donec quis vestibulum risus. Sed sed consequat purus. Proin pellentesque metus diam, non feugiat risus viverra id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        In sapien nibh, consequat tempus felis non, ultricies mollis ante. Aenean commodo rutrum est nec viverra. Duis urna purus, placerat ut nunc vel, feugiat feugiat nibh. Maecenas sed tempus purus, at luctus ipsum. Nunc sed vulputate metus. Quisque vitae lorem ut lacus consectetur lobortis. Suspendisse mi nisl, auctor nec mi sed, efficitur semper erat. Phasellus hendrerit sagittis viverra. Maecenas tristique vestibulum velit, vitae varius leo mollis quis. Aliquam neque mauris, consequat sit amet augue ut, ultrices consectetur nisl. Nunc accumsan, purus eu euismod malesuada, diam diam faucibus massa, eu consequat mi nibh non magna. In non urna facilisis, commodo lorem eget, vehicula dui. Aenean in odio sit amet sapien condimentum fermentum sit amet in nisl. Nulla arcu nisi, scelerisque non hendrerit a, ultricies id nisl.

        Quisque quis sollicitudin justo. Integer lorem ipsum, viverra quis dui in, efficitur auctor risus. Cras in porta odio. Mauris vulputate bibendum enim, non maximus nulla mattis ut. Phasellus eros enim, lacinia id vestibulum vitae, ultricies a magna. In varius dictum libero, vel consectetur arcu tempus at. Pellentesque ullamcorper erat lectus, nec iaculis elit placerat vel. Vivamus blandit vulputate tellus vitae tincidunt. Proin vitae mauris fermentum, consequat tortor sit amet, euismod nisi. Duis id imperdiet neque. Nulla eu dolor nunc. Proin rutrum hendrerit metus, sed vulputate sapien pellentesque quis. Nulla gravida mi erat, et laoreet elit ornare vitae.
    </p>
</div>
</body>
</html>